security {
    address-book {
{% for address_book in address_book %}
        {{ address_book.name }} {
{% for entry in address_book.entries %}
            address {{ entry.name }} {{ entry.prefix }};
{% endfor %}            
{%- if address_book.add_set is defined %}
{% for address_set in address_book.add_set %}
            address-set {{ address_set.name }} {
{% for set_entry in address_set.set %}
                address {{ set_entry }};
{% endfor %}
            }
{% endfor %}
{% endif %}
        }
{% endfor %}
    }
}    