{%-for fw in firewall.family %}
  {%for acl in fw.acl %}
    {%-for term in acl.term %}
      {%if term.get('src') %}
        {%for src in term.get('src')%}
set firewall family {{ fw.name }} filter {{ acl.name|upper }} term {{ term.name|upper }} from source-prefix-list {{ src|upper }}
        {% endfor %}
      {% endif %}
      {%if term.get('dest') %}
        {% for dest in term.get('dest')%}
set firewall family {{ fw.name }} filter {{ acl.name|upper }} term {{ term.name|upper }} from destination-prefix-list {{ dest|upper }}
        {% endfor %}
      {% endif %}
      {%if fw.get('name') == 'inet' %}
        {%for proto in term.get('protocol')%}
set firewall family {{ fw.name }} filter {{ acl.name|upper }} term {{ term.name|upper }} from protocol {{ proto }}
        {% endfor %}
      {% endif %}
      {%for port in term.get('port')%}
set firewall family {{ fw.name }} filter {{ acl.name|upper }} term {{ term.name|upper }} from port {{ port }}
      {% endfor %}
set firewall family {{ fw.name }} filter {{ acl.name|upper }} term {{ term.name|upper }} then count COUNT-{{ term.name|upper }}
set firewall family {{ fw.name }} filter {{ acl.name|upper }} term {{ term.name|upper }} then {{ term.action }}
    {% endfor %}
  {% endfor %}
{% endfor %}
{% if policer %}
  {% for rate in policer %}
    {% if rate.get('percent')%}
set firewall policer {{ rate.name|upper }} if-exceeding bandwidth-percent {{ rate.percent }}
      {% else %}
set firewall policer {{ rate.name|upper }} if-exceeding bandwidth-limit {{ rate.limit }}
    {% endif %}
set firewall policer {{ rate.name|upper }} if-exceeding burst-size-limit {{ rate.burst }}    
set firewall policer {{ rate.name|upper }} then discard
  {% endfor %}
{% endif %}
{#
firewall {
{%-for fw in firewall.family %} 
    family {{ fw.name }} {
     {%for acl in fw.acl %}
        filter {{ acl.name|upper }} {
         {%-for term in acl.term %}            
            term {{ term.name|upper }} {
                from {
                 {%if term.get('src')%}
                    source-prefix-list {
                      {%for src in term.get('src')%}
                        {{ src|upper }};
                          {%endfor%}
                    }
                            {%endif%}
                  {%if term.get('dest')%}
                    destination-prefix-list {
                     {%for dest in term.get('dest')%}
                        {{ dest|upper }};
                          {%endfor%}
                    }
                            {%endif%}
                  {%if fw.get('name') == 'inet' %}
                   {%for proto in term.get('protocol')%}
                    protocol {{ proto }};
                      {%endfor%}
                        {%endif%}
                  {%for port in term.get('port')%}
                    port {{ port }};
                     {%endfor%}
                }
                then {
                    count COUNT-{{ term.name|upper }};
                    {{ term.action }};
                }
            }
        {%endfor%}
        }
    {%endfor%}
    }
{%endfor%}
{%if policer %}
  {%for rate in policer %}
    policer {{ rate.name|upper }} {
        if-exceeding {
            {%if rate.get('percent')%}
            bandwidth-percent {{ rate.percent }};
            burst-size-limit {{ rate.burst }};
            {%else%}
            bandwidth-limit {{ rate.limit }};
            burst-size-limit {{ rate.burst }};
            {%endif%}
        }
        then discard;
    }
  {%endfor%}
{%endif%}
}
#}