{% for plist in plist %}
  {% for subnets in plist.subnets %}
set policy-options prefix-list {{ plist.name }} {{ subnets }}
  {% endfor %}
{% endfor %}
{% for comm in comm %}
set policy-options community {{ comm.name }} members {{ comm.community }}
{% endfor %}
{#
policy-options {
{% for plist in plist %}
    prefix-list {{ plist.name }} {
{% for subnets in plist.subnets %}
        {{ subnets }};
{% endfor %}
    }
{% endfor %}
{% for comm in comm %}
    community {{ comm.name }} members {{ comm.community }};
{% endfor -%}    
}
#}