snmp {
    name "{{ snmp.name }}";
    location "{{ snmp.location }}";
    contact "{{ snmp.contact }}";
    v3 {
        usm {
            local-engine {
{% for user in snmp.user %}
                user {{ user.name }} {
                    authentication-sha {
                        authentication-key "{{ user.sha_auth|sha }}";
                    }
                    privacy-aes128 {
                        privacy-key "{{ user.priv_aes128 }}";
                    }
{% endfor %}
                }
            }
        }
        vacm {
            security-to-group {
                security-model usm {
{% for vacm in snmp.vacm %}
                    security-name {{ vacm.name }} {
                        group {{ vacm.group }};
{% endfor %}
                    }
                }
            }
            access {
                group all {
                    default-context-prefix {
                        security-model usm {
                            security-level privacy {
                                read-view all;
                                notify-view all;
                            }
                        }
                    }
                }
            }
        }
    }
    engine-id {
        use-mac-address;
    }
    view all {
        oid .1 include;
    }
{% for community in snmp.community %}
    community {{ community.name }} {
        view all;
        authorization read-only;
        clients {
{% for clients in snmp.clients %}
            {{ clients }};
{% endfor %}
        }
    }
{% endfor %}
}

