{% for bgp in bgp %}
set protocols bgp group {{ bgp.name }} local-as {{ bgp.asn }}
set protocols bgp group {{ bgp.name }} type {{ bgp.type }}
set protocols bgp group {{ bgp.name }} local-address {{ bgp.local_add }}
  {% for peer in bgp.peer %}
set protocols bgp group {{ bgp.name }} neighbor {{ peer.name }} description "{{ peer.description }}" 
set protocols bgp group {{ bgp.name }} neighbor {{ peer.name }} peer-as {{ peer.asn }}
    {%if peer.md5 is defined %}
set protocols bgp group {{ bgp.name }} neighbor {{ peer.name }} authentication-key "{{ peer.md5|md5 }}"
    {% endif %}
  {% endfor %}
{% endfor %}
{#
protocols {
    bgp {
{% for bgp in bgp %}
        group {{ bgp.name }} {
            local-as {{ bgp.asn }};
            type {{ bgp.type }};
            local-address {{ bgp.local_add }};
  {% for peer in bgp.peer %}
            neighbor {{ peer.name }} {
                description "{{ peer.description }}";
                peer-as {{ peer.asn }};
    {%if peer.md5 is defined %}
                authentication-key "{{ peer.md5|md5 }}";
    {% endif %}
            }
  {% endfor %}
        }
    }
}
{% endfor %}
#}